* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #F8FBFF;
  color: #1E293B;
}

/* NAV */
.navbar {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 999;
}

.navbar a {
  text-decoration: none;
  color: white;
  background: #1E293B;
  padding: 10px 14px;
  border-radius: 30px;
  font-size: 12px;
}

.hero {
  height: 100vh;
  background: url("https://i.ibb.co/WNx5p80F/2-E0-B6338-A843-4294-BA8-E-46752-A51-D4-AE.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-family: 'Cinzel', serif;
  font-size: 70px;
  letter-spacing: 2px;
}

.hero-quote {
  margin-top: 20px;
  font-size: 18px;
  max-width: 650px;
  line-height: 1.6;
}

/* DESTINATIONS */
.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 50px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* QUOTES */
.quotes {
  text-align: center;
  padding: 40px;
  font-style: italic;
}

/* GALLERY */
.gallery-title {
  text-align: center;
  padding: 40px;
  font-family: 'Cinzel', serif;
}

.gallery-block {
  padding: 30px;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  gap: 15px;
}

.img-box {
  min-width: 250px;
  text-align: center;
}

.img-box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* ABOUT IMAGE FIXED */
.about-banner {
  position: relative;
  height: 100vh;
  background: url("https://i.ibb.co/GfWP14QS/ade6debf-9358-4a53-ad36-583add83fee3.jpg");
  background-size: cover;
  background-position: center;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.about-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}

.about-text h2 {
  font-family: 'Cinzel', serif;
  font-size: 55px;
  margin-bottom: 15px;
}

.about-quote {
  font-style: italic;
  font-size: 18px;
  max-width: 600px;
  margin: auto;
}

/* CLOSING */
.closing {
  text-align: center;
  padding: 80px;
  background: #EAF4FF;
}

.end-quote {
  font-style: italic;
  margin-bottom: 20px;
}